.syntax-container { font-size: 17px; }

h2, h3, h4 { margin-bottom: 0.8em !important; }


/* Inline code can occur on every level of a list and
 * inside p's, thus it should be adapted to the elements
 * font size. twitter_bootstrap.css wants to set a fixed
 * size for code though. Thus we override it here and
 * inherit from the parent.
 */
body code {
	font-size: 80%;
}

/* the following concerns code _listings_
 */
.syntax-container.syntax-theme-base ol.syntax.highlighted {
        /* The padding of the line numbers provided by
	 * jquery.syntax.layout.list.css is too large.
	 * Override and reduce the padding to ca. 2 digits
	 * since the purpose of p_slides is presentations
	 * and as such 3 digit line numbers will not occur.
	 */
	padding-left: 2em !important;
}
.syntax-container.syntax-theme-base ol.syntax.highlighted li {
        /* Font size is set by twitter_bootstrap.css or by
	 * slidy.css to 100% and thus varies with the list
	 * level we're in. We want to have constant code listing
	 * font sizes.
	 */
	font-size: 10px;
}

.slide {
    max-height: 768px;
    max-width: 1024px;
    overflow: hidden;
}

.slide img {
    max-height: 700px;
    max-width: 100%;
}

.slide .left {
  width: 45%;
  float: left;
}

.slide .right {
  width: 45%;
  float: left;
}

.slide ul {
  margin-left: 2em;
}

.slide h2, .slide h3, .slide h4, .slide p, .slide div {
  margin-left: 15px;
}

img {
  max-height: 600px !important;
  width: auto !important;
}

.hr {
  width: 100%;
  height: 1px;
  background: darkgray;
  margin: 1em 0 1em 0;
}

.shadow {
    box-shadow: 7px 7px 7px lightgray;
}

@media screen {
    .slide {
        /* Center Slide on Screen */
        margin: auto auto !important;
        box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.27);
    }
}

@media print {
    .slide {
        font-family: "Arial", sans-serif;
        border: 0 !important;
    }
}
